.sort-container {
  display: flex;
  width: 83.5vw;
  justify-content: flex-start;
  margin: 20px;
  margin-left: 14%;
}

label {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-right: 10px;
}

select {
  cursor: pointer;
  border: none;
  font-size: 18px;
}

@media (max-width: 500px) {
  .sort-container {
    width: 100%;
    justify-content: center;
    margin: 0px;
  }
}
