input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

Form {
  margin: 5% 0 0;
}

@media screen and (max-width: 770px) {
  .form-control,
  .form-select {
    margin: 0.25rem;
  }
}
