input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

Form {
  margin: 10rem auto;
  width: 80%;
}

#button {
  margin-top: 4rem;
}

@media screen and (max-width: 770px) {
  Form {
    margin: 5rem auto;
  }

  .form-control,
  .form-select {
    margin: 0.25rem;
  }
}
