.jam-detail-pg {
  display: flex;
  flex-direction: row;
  margin: 10rem auto;
  width: 75%;
}

.jam-detail-info {
  margin-left: 3rem;
}

.jam-detail-pg img {
  max-width: 300px;
}

p {
  margin: 0 2.5%;
}

.creator-tag {
  margin: 2rem 2.5%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.buttons .btn {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  background-color: #00c987;
  border: none;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  /* padding: 7px 10px 7px; */
}

#anchor-btn a {
  text-decoration: none;
  color: white;
}

.detail-button {
  padding: 20px;
}

@media screen and (max-width: 705px) {
  .jam-detail {
    display: flex;
    flex-direction: column;
    margin: 2%;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    margin-bottom: 3rem;
  }

  .buttons .btn {
    margin: 0.25rem;
  }

  .edit-button {
    height: 36px;
  }
}
