.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout .layout-children {
  flex-grow: 1;
}

a:hover {
  color: #00c987;
}

@media only screen and (max-width: 768px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
}
