.modal-container {
  display: flex;
}

.modal-details {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
}

.modal-title {
  font-size: 30px;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
}

.modal-btns {
  display: flex;
  margin: 1rem;
}

.btn.modal-btn {
  margin-bottom: 1rem;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  background-color: #00c987;
  border: none;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  padding: 0.25rem 1.5rem 0.25rem;
}

@media only screen and (max-width: 575px) {
  .modal-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 80%;
    align-items: center;
  }

  .modal-container .img-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .modal-container .img-container img{
    width: 70%;
  }
  
  .modal-container .modal-details {
    margin: 0 auto;
    padding: 0;
  }

  .modal-container .modal-details .modal-title {
    font-size: 1.5rem;
  }

  .modal-container .modal-details p, .modal-container .modal-details h4 {
    font-size: .8rem;
    margin: 5px 0;
  }


  .modal-btns {
    flex-direction: column;
    align-items: center;
  }

  .modal-btns .btn {
    margin: .2rem 0;
  }
}
