.modal-container {
  display: flex;
}

.modal-details {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
}

.modal-title {
  font-size: 30px;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
}

.btn#detail-btn {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 575px) {
  .modal-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    overflow: scroll;
  }
}
