.input-group,
.mb-3 .search-bar {
  position: relative;

  padding: 5% 0 1%;
  width: 35%;
  display: flex;
  justify-content: flex-start;
  margin-left: 14%;
}

@media only screen and (max-width: 575px) {
  .input-group {
    width: 50%;
    min-width: 185px;
    margin: 0 auto;
    justify-content: center;
  }
}
