.search-form {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 40vw;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border-radius: 15px;
  margin: 40px;
}

.search-input::placeholder {
  letter-spacing: 0.3px;
}

@media only screen and (max-width: 600px) {
  .search-input {
    width: 70vw;
  }
}
